<div class="kanban-card" 
     [ngClass]="{
       'eval-border': type === 'evaluations',
       'quote-border': type === 'quoting',
       'active-border': type === 'active',
       'finished-border': type === 'finished'
     }">

  <!-- 1. Título Dinámico (Requested Work para Eval y Quote) -->
   <div class="card-header">

    @if(type === 'evaluations'){

        <span class="status-pill pending">
            Pendiente
        </span>

    }

    @if(type === 'quoting'){

        <span class="status-pill quote">
            {{data.quote_status | uppercase}}
        </span>

    }

</div>


<div class="card-date">

    {{data.eval_date | date:'EEE d MMM'}}

    ·

    {{data.eval_date | date:'shortTime'}}

</div>


<h3 class="card-work">

    {{data.requested_work}}

</h3>


<p class="card-client">

 {{data.customer_name}}

</p>


<p class="card-address">

 {{data.customer_address}}

</p>
  
  <div class="card-body-info">
    <!-- Info básica presente en ambos estados -->
    <p class="address">
      <lucide-icon 
        [img]="MapPin"
        size="16">
      </lucide-icon>
      {{ data.customer_address || data.address || 'Sin dirección registrada' }}</p>
    <p class="phone-info">
      <lucide-icon 
        [img]="Phone"
        size="16">
      </lucide-icon>
      {{ data.phone }}
    </p>

    <!-- INFO ESPECÍFICA: COTIZACIONES -->
    @if (type === 'quoting') {
      <div class="quote-details">
        <!-- Monto Total (Si existe) -->
        <p class="total-amount">
          <lucide-icon 
            [img]="Wallet"
            size="16">
          </lucide-icon> 
          {{ (data.total_amount | currency) || 'Costo pendiente' }}
        </p>
        
        <!-- Estado y Fecha de Creación/Envío -->
        <div>
           <span> <lucide-icon 
  [img]="FileText"
  size="16">
</lucide-icon> {{ data.status === 'sent' ? 'Enviada' : 'Borrador' }}</span>
           <span>
            <lucide-icon 
              [img]="Calendar"
              size="16">
            </lucide-icon> 
            Creada el: {{ (data.sent_at || data.created_at) | date:'dd/MM/yy' }}
          </span>
        </div>
      </div>
    }
  </div>

  <!-- Footer con Botones de Acción -->
  <div class="card-footer">
    <!-- Botón de Notas -->
     @if (type === 'evaluations') {
        <button class="btn-action" (click)="openNotes()">
            {{ data.requirements ? '📝 Ver Notas' : '📝 Crear Notas' }}
        </button>
    }

    <!-- Botón de Aceptación (Solo aparece en columna Cotización) -->
    @if (type === 'quoting') {
      <button class="btn-action primary" (click)="acceptQuote()">
        <lucide-icon [img]="CircleCheck" size="18"></lucide-icon>
        Cotización Aceptada 
      </button>
    }
  </div>
</div>




