<app-page-header title="Tablero de Proyectos"></app-page-header>


<!-- ACCIONES PRINCIPALES -->
<section class="board-actions">

  <button class="action-primary" (click)="createCustomer()">
    + Cliente
  </button>

  <button class="action-secondary" (click)="createEvaluation()">
    + Evaluación
  </button>

  <button class="action-secondary" (click)="createQuote()">
    + Cotización
  </button>

  <button class="action-secondary" (click)="createProject()">
    + Proyecto
  </button>

</section>


<div class="kanban-container"> 

  <div class="kanban-board"> 

    <app-board-column 
      title="EVALUACIONES" 
      type="evaluations"
      [items]="columns.evaluations"
      (cardDeleted)="refreshBoard()">
    </app-board-column>


    <app-board-column 
      title="EN COTIZACIÓN" 
      type="quoting"
      [items]="columns.quoting"
      (cardDeleted)="refreshBoard()">
    </app-board-column>


    <app-board-column 
      title="PROYECTOS ACTIVOS" 
      type="active"
      [items]="columns.active">
    </app-board-column>


    <app-board-column 
      title="FINALIZADOS" 
      type="finished"
      [items]="columns.finished">
    </app-board-column>

  </div>

</div>