<div class="form-container">
  <div class="form-header">
    <h3>👤 REGISTRO DE NUEVO CLIENTX</h3>
    <button type="button" class="btn-close" routerLink="/dashboard">&times;</button>
  </div>

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="andamio-form">
    
    <!-- GRID DE IDENTIDAD: Nombre y Apellido en la misma línea -->
    <div class="grid-row">
      <div class="form-group">
        <label>NOMBRE(S)</label>
        <input type="text" formControlName="first_name" class="form-control" placeholder="Ej: Charly">
      </div>
      <div class="form-group">
        <label>APELLIDO(S)</label>
        <input type="text" formControlName="last_name" class="form-control" placeholder="Ej: Pulenta">
      </div>
    </div>

    <div class="form-group">
      <label>TELÉFONO DE CONTACTO</label>
      <input type="text" formControlName="phone" class="form-control" placeholder="55 1234 5678">
    </div>

    <div class="form-group">
      <label>DIRECCIÓN PRINCIPAL (OBRA/CASA)</label>
      <textarea formControlName="address" class="form-control" rows="4" placeholder="Calle, número, colonia"></textarea>
    </div>

    <button type="submit" class="btn-andamio full-width" [disabled]="customerForm.invalid">
      GUARDAR Y DAR DE ALTA
    </button>
  </form>
</div>